@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font: normal 100%/1.5 'Dosis', sans-serif;
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex{
  width: 100%;
  display: block;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px;
}

h3 {
  font-weight: normal;
  line-height: 1.5;
}

footer {
  background-color: #d7d7d7;
}


/*---------------------Masthead including nav----------------------------*/



.masthead {
background-color: #d7d7d7;
}

.logo {
max-width: 250px;
margin: 0 auto;
}

.nav {
text-align: center;
margin-top: 1.5rem;
}

.nav a {
margin: 0 1em;
color: black;
text-decoration: none;
border-bottom: none;
}


a {
  color: black;
  text-decoration: none;
  border-bottom: 3px solid #f2eb43;
}


a:hover {
  color: grey;
  text-decoration: none;
}


.list-group__item {
  display: inline-block;
  border: solid #f2eb43;
  border-width: 0 0 0 4px;
  padding: 0.5em 1em;
  margin: 0;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px;
}

.list-group__item a:hover {
  color: white;
}

.sign {
  border: solid #f2eb43;
  border-width:4px;
}


/*-------transbar----------------------------*/



.bar {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  bottom: 160px;
}


/*-------buttons----------------------------*/



.imgbox:hover {
  -moz-box-shadow: 0 0 2px #ccc;
  -webkit-box-shadow: 0 0 2px #ccc;
  box-shadow: 0 0 20px #6d6d6d;
  }


.suc h3{
  line-height: 1.5;
}




.pro {
  background-color: #e0e0e0;
}

h4 {
  background-color: #f2eb43;

}


.btn-4 {
    border-radius: 50px;
    border: 3px solid #fff;
    color: #fff;
    overflow: hidden;
}

.btn {
        border: none;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background: none;
        cursor: pointer;
        padding: 25px 80px;
        display: inline-block;
        margin: 15px 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        outline: none;
        position: relative;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }



.btn-4:before {
position: absolute;
height: 100%;
font-size: 125%;
line-height: 3.5;
color: #fff;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}

.icon-arrow-right:before
{
content: "\e00d";
}

.btn:before, .icon-heart:after, .icon-star:after, .icon-plus:after, .icon-file:before {


    speak: none;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}




/*----------media-----------------------------*/


@media only screen and (min-width: 50em){

.logo {
margin: 0;
}

.nav {
text-align: right;
margin-top: 0;
}

}
